@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Styling 'navbar' by setting the maximum width. The 'padding' property is used for defining space in between the content (logo, and headings) and its borders.
   In this case the 'padding' attribute has two value: one for top and bottom and the other for left and right.
   It will auto calculate the margins.
*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* I wanted the 'navbar' in a fixed position relative to the browser window and take up 100% of the width.
   Setting a font and padding. 
   The padding is specified for up/down movement as I don't want any moevement right/left
*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

/* Creating a 'sticky' property to the 'navbar'.
   As I scroll up/down the 'navbar' element will always be accessible and the 'sticky' property simply switched between relative and fixed position.
   And it has a background colour 'crimson'
*/
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600; 
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

                                                             /* Styling the 'Home' section */

/* Setting the background from an image link from Google. 
   Setting the 'background-size' (length and width) and the 'vertical height' (vh)
   Setting the 'font' 
   Set it as a block-level conatiner using 'flex'
*/                                                          
.home{
    display: flex;
    background: url("https://wallpaperaccess.com/full/1811402.jpg") no-repeat center;
    background-size: 2000px 2000px;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

/* Within: home -> home-cotent -> text-1, setting the font-size */
.home .home-content .text-1{
    font-size: 27px;
}

/* Within: home -> home-cotent -> text-2, setting the font-size, weight and setting the margin */
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

/* Within: home -> home-cotent -> text-2 --> span, using the <span> tag to color only a specific part of the text, in this case 'Michael' */
.home .home-content .text-2 span{
    color: crimson;
    font-weight: 500;
}

/* Within: home -> home-cotent -> text-3, setting the font-size, and setting the margin */
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

/* Setting the spacing between each of the seciton i.e. 'About', 'Resume', 'Experience', 'Educaiton', 'Contact' */
section{
    padding: 100px 0;
}

/* Setting the font for the content in each section */
.about, 
.resume,
.experience,
.education,
.contact {
    font-family: 'Poppins', sans-serif;
}

                                                                    /* Styling the 'About' section */
                                                                    
/* Setting the font for the title */
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Underlining the title */
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translate(-50%);
}

/* Inserting 'who i am' within the line */
.about .title::after{
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translate(-50%);
}

/* Aligning the 'I'm Timble' part in the centre and setting the margins */
.about .about-content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

/* Justified paragraph, 'p', alignment */
.about .about-content .right p{
    text-align: justify;
}

                                                                /* Styling the 'Resume' section */

 /* Setting the font of the title */
.resume .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: -125px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

 /* Setting the download CV button 
    Setting the display as inline-block which can be formatted as inline element and apply width/height properties.
    
    Inline element i.e. <span>
    Block element i.e. <p>, <div> - seperation between elements

    The download button will have (initially) red background (background) and white text (color).
    There will be a 0.3 second delay.
 */
.resume .resume-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

/* Setting the behaviour of what happend when you hover over the 'Download CV' button.
   After the 0.3 second delay the text will turn red (color) and the background will be empty
*/
.resume .resume-content .right a:hover{
    color: crimson;
    background: none;
}

/* Aligning the text 'Download CV' in the center */
.resume .resume-content .right a{
    text-align: center;
    display:block;
    margin: auto;
}

 /* Setting the  font and margins for the titles of each section*/
.experience .title,
.education .title,
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: -100px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

                                                                   /* Styling the 'Experience' section */

 /* Setting the font/size/margins for the 'name of the companies' */                                                                   
.experience .text-ex1{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

/* Setting the font/size/margins for the 'position/location/start-end dates' */  
.experience .subtext-ex1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
}

                                                                    /* Styling the 'Education' section */

 /* Setting the font/size/margins for the 'name of the degree' */                                                                                                        
.education .text-ed2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

/* Setting the font/size/margins for the 'university name/location/start-end dates' */  
.education .subtext-ed2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
}

                                                                    /* Styling the 'Contact' section */  

/* Setting the font/size of the 'head' i.e. 'Name', 'Address' and 'email'  */                                                             
.contact .head{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

/* Setting the font/size of the 'sub-title' i.e. 'timble michael', 'QLD Aus' and 'email adress'  */   
.contact .sub-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

/* Setting the alignment of the icons  */   
.contact .icons{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: black;
    }
}
