@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {

    /* hsl (hue, sat, light) */

    --first-hue: 348;
    --sat: 83%;
    --lig: 42%;
    
    --primary-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --background: hsl(0,0%,0%);
    --text-color: hsl(100,100%,100%);
}

/* Setting up how much width each section will take */
.max-width{
    max-width: 1555px;
    padding: 0 80px;
    margin: auto;
}

                                                                        /* Styling the "navbar" */

/* Setting up the postion of the navbar.
   Takes up 100% of the width.
   With top-bottom padding (left-right padding is not ncessary hence the 0-value).
   Selection of text fonts.
*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

/* Makinig the 'navbar' a sticky element so, when scorrling it will be "stuck".
   Top-bottom thickness set with 'padding'.
*/
.navbar.sticky{
    padding: 10px 0;
    background: var(--primary-color);
}

/* 'navbar' to be horizontal with the 'flex' property.
*/
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Setting the colour of the logo i.e. "Tim", which is the first three letter of the word to be white. 
*/
.navbar .logo a{
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 600; 
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

/* Setting the colour/fonts for the items in the list 
*/
.navbar .menu li a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

/* When hovering the menu item will 'transition' to crimson 
*/
.navbar .menu li a:hover{
    color: var(--primary-color);
}

.navbar.sticky .menu li a{
    color: var(--text-color);
}

/* When scrolling (hence the 'sticky') the 'navbar' list will trnasition to white 
*/
.navbar.sticky .menu li a:hover{
    color: black;
}

.navbar.sticky .logo a:hover{
    color: black;
}

.navbar.sticky .logo a{
    color: var(--text-color);
}

/* Menu button which won't be seen (display:none) until the screen  is a certain size   
*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

                                                                        /* Styling the 'Home' section */

/* Setting the 'Home' section as a 'flex' container.
   Setting the background image, size, text font and text colour.
   Wanted the landing page to be filled with the bakground hence, vh (vertical height)
*/                                                          
.home{
    display: flex;
    background-color: var(--background);
    height: 95vh;
    color: var(--text-color);
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

/* Setting the max width for the 'home' section.
   Only wanted margin to be set in the left-right direction.
   Auto-margin was used to center the container.
*/
.home .max-width{
    margin: auto 0 auto 415px;
}

/* Setting for "Hi, my name is", home (parent container) -> home-cotent (sub-container) -> text-1 (child of the sub-container)
*/
.home .home-content .text-1{
    margin-top: 50px;
    font-size: 27px;
}

/* Setting for "Timble Michael", home -> home-cotent -> text-2
*/
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;   
}

.home .home-content .text-2 span{
    color: var(--primary-color);   
}

/* Setting for "And I am learning", home -> home-cotent -> text-3, setting the font-size
*/
.home .home-content .text-3{
    font-size: 40px;      
}

/* Setting the colour and fonts for the items that I am "learning" in the list
*/
.home .home-content .text-3 span{
    color: var(--primary-color);
    font-weight: 450;      
}

/* "Download CV" button 
*/
.home .home-content a{
    display: inline-block;
    color: var(--primary-color);
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

/* Colour change for "Download CV" button when hovering over it 
*/
.home .home-content a:hover{
    background: var(--primary-color);
    color: white;
}

.home .home-social{
    display: grid;
    grid-template-columns: 45px 2px;
    margin-top: 25px;
}

.home .home-social i:hover{
    color: var(--primary-color) !important;
}

/* Spacing in between each section 
*/
section{
    padding: 75px 0;
}

/* Setting the font for the content in each section 
*/
.about,
.skills,
.experience-education,
.education,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}



                                                                        /* Styling the 'About' section */
                                                                                                                                   
/* Setting the font, position, and alignment for the title 
*/
.about .intro,
.skills .intro,
.experience-education .intro{
    position: relative;
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

.about .text,
.skills .text,
.experience-education .text{
    font-size: 40px;
    margin-bottom: 25px;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.about .about-data{
    color: black;
    text-align: center;
}

.about .about-content .about-description{
    color: white;
    text-align: center;
}

.about .about-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    margin-bottom: 25px;
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
}

.about .about-box{
    background-color: white;
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about .about-icon{
    font-size: 25px;
}

.about .about-title{
    color: var(--primary-color);
}

/* Justified paragraph
*/
.about .about-content p{
    text-align: justify;
}

                                                        /* Styling the Skills sections */

.skills .skills-icon{
    color: var(--primary-color);
    font-size: 1rem;
}

.skills .skills-name{
    line-height: 18px;
}

.skills .grid {
    display: grid;
    gap:1.25rem;
}

.skills .container {
    display: flex;
    width: 50%;
}


.skills .skills-container{
    row-gap: 1rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.skills .skills-content{
    background-color: var(--text-color);
    border-radius: 1.25rem;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.skills .skills-title{
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills .skills-box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills .skills-group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills .skills-data{
    display: flex;
    column-gap: .5rem;
}

.education .title,
.contact .title{
    position: relative;
    color: var(--primary-color);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: -125px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}



                                                                        /* Styling the 'Experience' section */
   
                                                                        
.experience-education .qualification-button, .qualification-icon{
    color: var(--text-color);
}

.experience-education .qualification-tabs{
    display: flex;
    justify-content: space-evenly;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 25px;
    font-weight: 600;
}

.experience-education .qualification-button{
    font-size: 20px;
    cursor: pointer;
}

.experience-education .qualification-icon{
    color: var(--primary-color);
}

.experience-education .qualification-button:hover{
    color: var(--primary-color);
}

.experience-education .qualification-title, .qualification-subtitle, .qualification-calendar{
    color: var(--text-color);
}


.experience-education .qualification-data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    margin-left: 200px;
    margin-right: 200px;
}

.experience-education .qualification-subtitle{
    display: inline-block;
    font-weight: 600;
}

.experience-education .qualification-location{
    display: inline-block;
    color: white;
}

.experience-education .qualification-rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.experience-education .qualification-line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--primary-color);
    transform: translate(6px, -7px);
}

.experience-education [data-content] {
    display: none;
}

.qualification-active[data-content]{
    display: block;
}

.qualification-button.qualification-active{
    color: var(--primary-color);
}



                                                                    /* Styling the 'Education' section */

 /* Setting the font/size/margins for the 'name of the degree' */                                                                                                        
.education .text-ed2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

/* Setting the font/size/margins for the 'university name/location/start-end dates' */  
.education .subtext-ed2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
}

                                                                    /* Styling the 'Contact' section */  

/* Setting the font/size of the 'head' i.e. 'Name', 'Address' and 'email'  */                                                             
.contact .head{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

/* Setting the font/size of the 'sub-title' i.e. 'timble michael', 'QLD Aus' and 'email adress'  */   
.contact .sub-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

/* Setting the alignment of the icons  */   
.contact .icons{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}

footer span a{
    color: crimson;
}

@media (max-width: 950px){
    .max-width{
        padding: 0 75px;
    }
}

@media (max-width: 1329px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px){
    .home .max-width{
        padding: 0 75px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 25px 0;
        font-size: 25px;
    }

}