@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

.home{
    display: flex;
    background: url("https://wallpaperaccess.com/full/1811402.jpg") no-repeat center;
    background-size: 2000px 2000px;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-2 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}


section{
    padding: 100px 0;
}

.about{
    font-family: 'Poppins', sans-serif;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translate(-50%);
}

.about .title::after{
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translate(-50%);
}


.about .about-content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}


.about .about-content .right p{
    text-align: justify;
}

.resume{
    font-family: 'Poppins', sans-serif;
}

.resume .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: -125px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}


.resume .resume-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.resume .resume-content .right a:hover{
    color: crimson;
    background: none;
}

.resume .resume-content .right a{
    text-align: center;
    display:block;
    margin: auto;
}

.experience{
    font-family: 'Poppins', sans-serif;
}

.experience .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: -100px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.experience .text-ex1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

.experience .subtext-ex1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
}

.education,
.contact{
    font-family: 'Poppins', sans-serif;
}

.education .title,
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: -100px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.education .text-ed2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: crimson;
}

.education .subtext-ed2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
}

.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translate(-50%);
}
.contact .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translate(-50%);
}
